<div class="pages">
    <span class="pag-counts">{{getMin()}} through {{getMax()}} of {{count}} orders </span>
    <span class="page-totals"> {{  totalPages() }} total pages</span>

    <div class="pagination" *ngIf="count > 0">
        <button class="btn btn-sm btn-info mr-2" (click)="onPrev()">Previous Page</button>
        <button class= "btn btn-sm btn-info mr-2" *ngFor="let pageNum of getPages()" (click)="onPage(pageNum)"
                        [ngClass]="{'active': pageNum === page, 'disabled': loading}">{{pageNum}}</button>

        <button class="btn btn-sm btn-info mr-2" 
                (click)="onNext()" [disabled]="isLastPage() || loading"
                [ngClass]="{'disabled': isLastPage() || loading}">
        Next Page</button>
    </div>
</div>